
.lessonbank_search_form {
    background-color: #eee;
    padding: 10px;
}

.lessonbank_search_form .showadvanced,
.lessonbank_search_form .showadvanced:hover,
.lessonbank_search_form .showadvanced:focus,
.lessonbank_search_form .showadvanced:active {
    background: none;
    border: none;
    color: black;
}

.lessonbank_search_form [id^="fitem_id_search"] .col-md-3,
.lessonbank_search_form [id^="fitem_id_submit"] .col-md-3 {
    display: none !important;
}

.searchbox .itemcontainer {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#page-local-lessonbank-index #fgroup_id_searchgroup {
  background-color: #eee;
  padding: 15px;
  margin: 0;
}
#page-local-lessonbank-index #advancesearch {
  padding: 15px;
  background-color: #eee;
}
#page-local-lessonbank-index #advancesearch #fitem_id_level{
  padding: 0 15px;
}
#page-local-lessonbank-index #fgroup_id_searchgroup .col-md-3,
#page-local-lessonbank-index #advancesearch #fitem_id_level .col-md-3 {
  max-width: 100px;
}

#page-local-lessonbank-index .searchbox .itemcontainer {
  padding: 10px 0;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  flex: 1;
}

#page-local-lessonbank-index [data-region="cards-container"] {
  min-height: 100px;
}

#page-local-lessonbank-index [data-region="cards-container"] p {
  margin-bottom: 0.2rem;
}

#page-local-lessonbank-index [data-region="cards-container"] [data-action="showtext"] {
  background-color: transparent;
  border: none;
  color: #1177d1;
  box-shadow: none;
}

#page-local-lessonbank-index .searchbox  [data-region="itemcard"] {
  max-width: calc(50% - 2px);
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
}

#page-local-lessonbank-index .searchbox  [data-region="itemcard"] [data-region="image"] {
  gap: 3px;
}

#page-local-lessonbank-index .lessonbanklayoutbox {
  border: 1px solid #ced4da;
  border-radius: 10px;
  overflow: hidden;
}
#page-local-lessonbank-index .listlayoutbtn,
#page-local-lessonbank-index .gridlayoutbtn {
  border: 0;
}

#page-local-lessonbank-index .gridlayoutbtn.active,
#page-local-lessonbank-index .gridlayoutbtn.active:focus,
#page-local-lessonbank-index .listlayoutbtn.active:focus,
#page-local-lessonbank-index .listlayoutbtn.active {
  background-color: #1177d1;
  color: white;
  border: 1px solid #1177d1;
  border-radius: 0;
}

#page-local-lessonbank-index .listlayout .listtable .searchimg {
  width: 200px;
  height: auto;
  min-width: 200px;
}

#page-local-lessonbank-index .listlayout .listtable .listdescription {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#page-local-lessonbank-index .listlayout .listtable tr td,
#page-local-lessonbank-index .listlayout .listtable tr th {
  vertical-align: middle;
}

#page-local-lessonbank-index .listlayout .listtable th:last-child,
#page-local-lessonbank-index .listlayout .listtable td:last-child {
  width: 200px;
  white-space: nowrap;
}

#page-local-lessonbank-index .listlayout .listtable .levelcolumn,
#page-local-lessonbank-index .listlayout .listtable .lnagcolumn {
  white-space: nowrap;
}